@media only screen and (max-width: 600px){

.navbar{
    background-color: rgb(80, 255, 240);
    height: 92px;
    box-shadow: 2px 2px 15px 0px  rgba(0, 0, 0, );
    align-items: center;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: darkturquoise;
    height: 50vh;
    left: 1em;
    transform: translateY(-120%);

}

.menu .li{
    margin-top: 3ems;
}

.navbar .menu-bar{
    display: block;
    font-size: 2em;
    color: white;
    cursor: pointer;

}

}
