@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100;1,300;1,500;1,900 & display=swap');
@import 'mediaquires.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/6451.jpg);
    max-width: 100%;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
}
.navbar .brand{
    color: rgb(83, 80, 255);
    margin-left: 20px;
}
.navbar .menu{
    grid-column: 6/9;
    display: flex;
    margin-top: 12px;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.3em;
    color: red;
    font-weight: 500;
    padding: 10px 20px;
}
.menu li a:hover{
    background-color: rgb(255, 0, 0);
    transition: all .10s;
}

.navbar .menu-bar {
    margin-right: 20px;
}